/* formato utilizado en todos los archivos html */
main {
  min-height: 80vh;
  h1 {
    box-sizing: content-box;
  }
  h2 {
    @extend %marco;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.2rem !important;
    @media (max-width: $smartphone) {
      font-size: 1.5rem !important;
    }
  }
}
.rotuindex {
  @extend %marco;
  font-size: 1.2rem !important;
}
.centrar-horizontal {
  margin: 0 auto;
}
.centrar-vetical {
  margin: auto 0;
}
.btnindex {
  @include rfondo($gray-300, $gray-800);
  &:hover {
    background-color: $gray-800 !important;
    color: $gray-300;
  }
}
.card-title {
  font-size:  1.5rem!important;
  font-weight: 600;
}

@media (max-width: $desktop) {
}

@media (max-width: $smartphone) {
}
