@mixin rsombra($tamano, $color) {
    @if $tamano < 1 {
      box-shadow: none;
    } @else if $tamano > 5 {
      @warn "Tamaño invalido `#{$tamano}` para mixin `sombra`.";
    } @else {
      box-shadow: $tamano $tamano $tamano $tamano $color;
    }
  }

 @mixin rfondo ($bgcolor, $color){
    background-color: $bgcolor !important;
    background-size: cover;
    color: $color;
 } 

 %marco{
    background-color: $gray-100;
  border-radius: 10px;
  border: 1px solid $gray-400;
  max-width: fit-content;
 }